body {
    background-image: url('./images/oct2.webp');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-attachment: fixed;
}

.outer-box{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-box{
    border-radius: 16px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 30 px rgba(255, 255, 255, 0.4);  
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    color: white;
    display: flex;
    flex-direction: column;
}

.h-flex{
    display: flex;
    align-content: flex-start;
}

.v-flex{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#info-container{
    background: rgba(23, 68, 181, 0.77);
}

#form-container{
    background-color: rgba(70, 70, 70, 0.5);
    justify-content: center;
}

#avatar-box{
    aspect-ratio: 1 / 1;
    max-width: 50%;
    justify-content: center;
}

#avatar-info-box{
    flex: 1 1 0;
}

#bio-box{
    flex: 2 1 0;
}

#personal-details-box{
    flex: 2 1 0;
}

#avatar{
    max-width: 100%;
    border-radius: 16px;
}

p { 
    margin: 5px;
    font-family: 'Cinzel';
}

span { 
    margin: 5px;
    font-family: 'Cinzel';
    white-space: nowrap;
}

#search_box{
    margin: 3px;
}

#search_button{
    margin: 3px;
    background-color: rgba(23, 68, 181, 1);
    border-color: white;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

#search_button:hover{
    background-color: rgba(23, 68, 181, 0.8);
}
/* @media all and (max-width: 1000px) {
    #avatar-info-box{
        flex-direction: column;
    }
    #avatar-box{
        flex-direction: row;
    }
    #info-box{
        flex-direction: row;
    }
} */

#name_label{
    font-size: 1.2rem;
}
